.green_value {
  color: #009B77; }

.red_value {
  color: #9B2335; }

.bottom_row {
  font-weight: bold;
  background-color: #666 !important;
  color: #fff; }

.wide-table {
  line-height: 20px; }
  .wide-table thead {
    background-color: #90AEC3;
    color: #fff;
    font-size: 12px; }
  .wide-table th {
    padding: 4px 6px 4px 6px; }
  .wide-table tbody td {
    padding: 8px; }

.linked-row {
  background-color: #2471AA !important;
  color: #fff !important; }

.label-style {
  font-style: italic; }
